<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding  name="EnlaceHTTPRest"
                  closeTimeout="00:08:00"
                  crossDomainScriptAccessEnabled="true">
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service name="Administrator.Manager.Implementations.CheckEmailImp">
        <endpoint address="auth"
                behaviorConfiguration="webREST"
                binding="webHttpBinding"
                bindingConfiguration="EnlaceHTTPRest"
                contract="Administrator.Manager.Interfaces.ICheckEmail" />
      </service>
      <service name="Administrator.Manager.Implementations.CreateGroupImp">
        <endpoint address="group"
                  behaviorConfiguration="webREST"
                  binding="webHttpBinding"
                  bindingConfiguration="EnlaceHTTPRest"
                  contract="Administrator.Manager.Interfaces.ICreateGroup" />
      </service>
      <service name="Administrator.Manager.Implementations.UpdateGroupImp">
        <endpoint address="group"
                behaviorConfiguration="webREST"
                binding="webHttpBinding"
                bindingConfiguration="EnlaceHTTPRest"
                contract="Administrator.Manager.Interfaces.IUpdateGroup" />
      </service>
      <service name="Administrator.Manager.Implementations.DeleteGroupImp">
        <endpoint address="group"
                behaviorConfiguration="webREST"
                binding="webHttpBinding"
                bindingConfiguration="EnlaceHTTPRest"
                contract="Administrator.Manager.Interfaces.IDeleteGroup" />
      </service>
      <service name="Administrator.Manager.Implementations.CreateUserImp">
        <endpoint address="user"
                  behaviorConfiguration="webREST"
                  binding="webHttpBinding"
                  bindingConfiguration="EnlaceHTTPRest"
                  contract="Administrator.Manager.Interfaces.ICreateUser" />
      </service>
      <service name="Administrator.Manager.Implementations.UpdateUserImp">
        <endpoint address="user"
                  behaviorConfiguration="webREST"
                  binding="webHttpBinding"
                  bindingConfiguration="EnlaceHTTPRest"
                  contract="Administrator.Manager.Interfaces.IUpdateUser" />
      </service>
      <service name="Administrator.Manager.Implementations.DeleteUserImp">
        <endpoint address="user"
                  behaviorConfiguration="webREST"
                  binding="webHttpBinding"
                  bindingConfiguration="EnlaceHTTPRest"
                  contract="Administrator.Manager.Interfaces.IDeleteUser" />
      </service>      
      <service name="Administrator.Manager.Implementations.CreateEmailImp">
        <endpoint address="email"
                  behaviorConfiguration="webREST"
                  binding="webHttpBinding"
                  bindingConfiguration="EnlaceHTTPRest"
                  contract="Administrator.Manager.Interfaces.ICreateEmail" />
      </service>
      <service name="Administrator.Manager.Implementations.UpdateEmailImp">
        <endpoint address="email"
                  behaviorConfiguration="webREST"
                  binding="webHttpBinding"
                  bindingConfiguration="EnlaceHTTPRest"
                  contract="Administrator.Manager.Interfaces.IUpdateEmail" />
      </service>
      <service name="Administrator.Manager.Implementations.DeleteEmailImp">
        <endpoint address="email"
                  behaviorConfiguration="webREST"
                  binding="webHttpBinding"
                  bindingConfiguration="EnlaceHTTPRest"
                  contract="Administrator.Manager.Interfaces.IDeleteEmail" />
      </service>
      <service name="Administrator.Manager.Implementations.UploadImgImp">
        <endpoint address="images"
                  behaviorConfiguration="webREST"
                  binding="webHttpBinding"
                  bindingConfiguration="EnlaceHTTPRest"
                  contract="Administrator.Manager.Interfaces.IUploadImg" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webREST">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <standardEndpoints>
      <webScriptEndpoint>
        <standardEndpoint crossDomainScriptAccessEnabled="true"></standardEndpoint>
      </webScriptEndpoint>
    </standardEndpoints>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="DataModels" connectionString="data source=DESKTOP-13UM48F;initial catalog=DbSystem;user id=sa;password=bboytoom;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>