@model Administrator.Manager.Helpers.ViewModelUser

@using (Html.BeginForm("", "", FormMethod.Post, new { id = "form_changepass", @class = "row", autocomplete = "off" }))
{
    <div class="col-md-12">
        <div class="form-group">
            <label for="perfil_password">Ingresa la contraseña actual</label>

            <div class='input-group mb-2'>
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @id = "perfil_password", @class = "form-control", @placeholder = "Contraseña", @maxlength = "16" } })
            </div>
            <span id="label_perfil_pass" style="color: red;"></span>
        </div>
    </div>
}
