html, body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
    outline: none;
}

a:focus, a:hover {
    color: #333;
    text-decoration: none;
}

a:active, a:focus {
    outline: none;
    ie-dummy: expression(this.hideFocus=true);
}

a {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}

button:focus {
    outline: 0;
}

.mdl-layout__header {
    min-height: 50px;
}

.header_layout--mdf{
    height: 50px;
}

.img_layout--mdf {
    width: 85px;
    height: 85px;
}

.mdl-layout__drawer-button {
    margin-top: 0px !important;
}

.mdl-layout__drawer {
    background: #FFFFFF;
}

.card-header {
    background-color: transparent;
}