@{
    ViewBag.Title = "AttempsLogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="section-login" class="container h-100">
    la cuenta se encuentra bloqueada, intenta en 15 minutos nuevamente
</section>

