
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-lg-5">
            <div class="card border-0 mdl-shadow--8dp my-5">
                <div class="card-body p-0">
                    <div class="p-5 text-center">
                        <h4 class="mb-4">Bienvenido</h4>

                        <div class="form-group">
                            <div class="input-group">
                                <input id="TextEmail" class="form-control" type="text" placeholder="Correo del usuario" maxlength="80" />
                                <div class="input-group-append">
                                    <span class="input-group-text"><i id="search_email_loader" class="fas fa-envelope-square fa-lg"></i></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <input id="TextPassword" class="form-control" type="password" placeholder="Contraseña del usuario" maxlength="19" />
                        </div>

                        <button id="BtnLogin" class="btn btn-primary btn-lg btn-block" type="button">Entrar</button>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

