<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="EnlaceHTTPRest"
                 closeTimeout="00:10:00"
                 crossDomainScriptAccessEnabled="true">
        </binding>
      </webHttpBinding>
    </bindings>
    <services>      
      <service name="GestionUsuarios.Implementation.LoginImp">
        <endpoint address="auth"
                behaviorConfiguration="webREST"
                binding="webHttpBinding"
                bindingConfiguration="EnlaceHTTPRest"
                contract="GestionUsuarios.Interface.ILogin" />
      </service>      
      <service name="GestionUsuarios.Implementation.CreateGroupImp">
        <endpoint address="group" 
                  behaviorConfiguration="webREST" 
                  binding="webHttpBinding" 
                  bindingConfiguration="EnlaceHTTPRest" 
                  contract="GestionUsuarios.Interface.ICreateGroup" />
      </service>
      <service name="GestionUsuarios.Implementation.UpdateGroupImp">
        <endpoint address="group"
                behaviorConfiguration="webREST"
                binding="webHttpBinding"
                bindingConfiguration="EnlaceHTTPRest"
                contract="GestionUsuarios.Interface.IUpdateGroup" />
      </service>
      <service name="GestionUsuarios.Implementation.DeleteGroupImp">
        <endpoint address="group"
                behaviorConfiguration="webREST"
                binding="webHttpBinding"
                bindingConfiguration="EnlaceHTTPRest"
                contract="GestionUsuarios.Interface.IDeleteGroup" />
      </service>
      <service name="GestionUsuarios.Implementation.CreateUserImp">
        <endpoint address="user"
                  behaviorConfiguration="webREST"
                  binding="webHttpBinding"
                  bindingConfiguration="EnlaceHTTPRest"
                  contract="GestionUsuarios.Interface.ICreateUser" />
      </service>
      <service name="GestionUsuarios.Implementation.UpdateUserImp">
        <endpoint address="user"
                  behaviorConfiguration="webREST"
                  binding="webHttpBinding"
                  bindingConfiguration="EnlaceHTTPRest"
                  contract="GestionUsuarios.Interface.IUpdateUser" />
      </service>
      <service name="GestionUsuarios.Implementation.DeleteUserImp">
        <endpoint address="user"
                  behaviorConfiguration="webREST"
                  binding="webHttpBinding"
                  bindingConfiguration="EnlaceHTTPRest"
                  contract="GestionUsuarios.Interface.IDeleteUser" />
      </service>
      <service name="GestionUsuarios.Implementation.CreateEmailImp">
        <endpoint address="email"
                  behaviorConfiguration="webREST"
                  binding="webHttpBinding"
                  bindingConfiguration="EnlaceHTTPRest"
                  contract="GestionUsuarios.Interface.ICreateEmail" />
      </service>
      <service name="GestionUsuarios.Implementation.UpdateEmailImp">
        <endpoint address="email"
                  behaviorConfiguration="webREST"
                  binding="webHttpBinding"
                  bindingConfiguration="EnlaceHTTPRest"
                  contract="GestionUsuarios.Interface.IUpdateEmail" />
      </service>
      <service name="GestionUsuarios.Implementation.DeleteEmailImp">
        <endpoint address="email"
                  behaviorConfiguration="webREST"
                  binding="webHttpBinding"
                  bindingConfiguration="EnlaceHTTPRest"
                  contract="GestionUsuarios.Interface.IDeleteEmail" />
      </service>      
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webREST">
          <webHttp helpEnabled="true" />
        </behavior>        
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <standardEndpoints>
      <webScriptEndpoint>
        <standardEndpoint crossDomainScriptAccessEnabled="true"></standardEndpoint>
      </webScriptEndpoint>
    </standardEndpoints>
    <protocolMapping>
      <add scheme="http" binding="webHttpBinding"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="DataModels" connectionString="data source=DESKTOP-13UM48F;initial catalog=DbSystema;user id=sa;password=bboytoom;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>