
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
}

    <section class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
        @{
            Html.RenderAction("SharedHeader", "Shared");
        }

        <main class="mdl-layout__content">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-4 border-bottom">
                <div class="col-12">
                    <h3 class="h3">Panel</h3>
                </div>
            </div>

            <div class="container-fluid">
                contenido
            </div>
        </main>
    </section>